.layout {
    max-width: $layout-width;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.layout > div {
    margin: 0 auto;
}
    
@include breakpoint-sm {
    .layout {
        flex-direction: row;
    }
}